/* APPROCCIO DESTOP 1ST (Chiedo venia ma sto già in ritardo, la prossima volta faccio mobile 1st promesso)*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.flex{
    display: flex;
}
body{
    background-color: #d8dad6;
}
.g-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #009588;
}
.main-container{
    width: 80%;
    height: 90vh;
    left: 8%;
    position: absolute;
    bottom: 5%;
}
.avatar{
    border-radius: 100%;
    width: 40px;
}
.icon-list{
    list-style: none;
}
.icon-list li{
    display: inline;
    margin-right: 10px;
}
.contacts{
    height: 100%;
    width: 35%;
    border-right: 1px rgb(187, 187, 187) solid;
}
.header-contacts{
    width: 100%;
    height:60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.notifiche{
    width: 100%;
    height: 60px;
    background-color: #8fdafc;
    align-items: center;
}
.search{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    align-items: center;
}
.searchbox{
    width: 90%;
    padding: 7px;
    margin-left: 10px;
    background-color: white;
}
.research{
    border-style: none;
    margin-left: 10px;
}
.bell{
    margin-left: 10px;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
}
.conversations{
    width: 100%;
    height: calc(100% - 170px);
    background-color: red;
    overflow-y: auto;
}
.c-list{
    width: 100%;
}
.c-list li{
    list-style: none;
    height: 80px;
    border-bottom: 1px solid #D7DBD6;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: white;
    padding-right: 10px;
}
.c-list li :hover{
    background-color: #eaeaea;
}
.c-details{
    margin-left: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat{
    height: 100%;
    width: 65%;
    background-color: greenyellow       
}
.main-chat{
    width: 100%;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
}
.write{
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.msg{
    border-style: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 80%;
}

/*TEXT*/
h2{
    font-size: 17px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 15px;
}
h5{
    font-size: 14px;
}
.grey{
    color: grey;
}
/*Position adjustments*/
.l-space{
    margin-left: 10px;
}
.dati{
    padding-left: -10px;
}