/* APPROCCIO DESTOP 1ST (Chiedo venia ma sto già in ritardo, la prossima volta faccio mobile 1st promesso)*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #d8dad6;
}
.g-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #009588;
}
.main-container{
    width: 80%;
    height: 90vh;
    left: 8%;
    position: absolute;
    bottom: 5%;
    background-color: red;
}