/* APPROCCIO DESTOP 1ST (Chiedo venia ma sto già in ritardo, la prossima volta faccio mobile 1st promesso)*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}